/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

img {
  margin: 0 auto ;
  width: 160px;
  height: 160px;
  border-radius: 100%;
}


.Card {
  text-align: center;
  width: 360px;
  height: auto;
  border: 3px solid rgb(220, 220, 220);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin: 50px auto ;
  padding: 20px;
}

.Button {

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 15px;
  justify-content: center; /* выравнивание по центру по горизонтали */
  align-items: center; /* выравнивание по центру по вертикали */

  color: rgba(255, 255, 255, 0.87);

  background-color: #242424;

  width: 150px;
  height: auto;
  border: 3px solid rgb(220, 220, 220);
  border-radius: 15px;
  display: inline-block;
  flex-direction: row;
  margin: 30px auto;
  margin-inline: 30px;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

