.сard {
    text-align: center;
    width: 360px;
    height: auto;
    border: 3px solid #242424;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin: 50px auto ;
    padding: 20px;
    font-family: Helvetica;
    background-color: rgb(220, 220, 220);
    color: black
}